/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}


@media (min-width : 320px ) {
	h1 {
		font-size : 12px;
	}
	h3 {
		font-weight: 500;
	}
	.mail-line {
		font-size: 15px;
	}

	.profile-pic {
		max-width: 100%;
	}

	.content-small {
		display : flex;
		flex-direction: row;
		padding : 20px;
	}
	.content-small h2 {
		font-size : 16px;
		font-weight: 400;
	}
	.content-list-small-left {
		display: flex;
		flex-direction: column;
		flex : 1;
	}
	.content-list-small-right {
		display: flex;
		flex-direction: column;
		flex: 1;
	}
	.content-list-small i {
		font-size : 35px;
		padding : 10px;
	}
	
	.wrapper {
	    margin: 0 auto;
		width : 100%!important;
	}
	.portfolio-container {
		flex-direction: column!important;
		align-content: space-between;
	}

	.portfolio-item a img {
		max-width: 80vw!important;
		height:100%;

	}
}

@media (min-width: 768px ) {
	h1 {
		font-size: 16px;
	}

	.content-list-small,
	.content-list-small-left,
	.content-list-small-right {
		display : hidden;
	}
	.mail-line {
		font-size: 15px;
	}

	.profile-pic {
		max-width: 100%;
	}

	.tech {
		padding : 20px;
		font-size : 1.4rem;
	}

	.content h2 {
		font-size : 18px;
		padding:20px;
		font-weight: 400;
	}
	.content {
		display:flex;
		flex-direction: column;
		padding : 20px;
	}

	.content-list {
		display : flex;
		flex-direction: row;
		font-size: 4.5rem;
		padding:15px;
	}

	.content-list i {
		flex :0%;
		font-size: 55px;
		
	}
	.wrapper {
		margin: 0 auto;
		width: 80% !important ;
	}

	.portfolio-container {
		flex-direction: column;
		align-content: space-between;
	}

	.portfolio-item a img {
		max-width: 80vw;
	}

}
.icons-social i {
	font-size: 3em;
}

/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main>.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

main>.tagline {
	font-size: 1.5rem;
	margin: 1.5rem 0;
	font-weight: 100;
}

.icons-social i {
	padding: 20px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.65rem;
	height: 2.65rem;
}

.profile-pic {
	width: 200px;
	border-radius: 50%;
	border: 2px solid #303f9f;
	margin-top: 100px;
}

h1,
h2 {
	font-family: 'Reem Kufi', sans-serif;
	font-weight: 600;
}

h1 {
	font-size: 1em;
	margin-top: 10px;
}

h2 {
	font-size: 1.9em;
	padding: 20px;
}

h3 {
	padding-bottom: 30px;
}

.mail-line {
	padding: 25px;
}

.mail-line i {
	font-size: 1.5em;
	padding: 10px;
}

.tech i {
	padding: 10px;
	font-size: 2.8em;
}

.portfolio-container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	padding: 20px;
}

.portfolio-item {
	padding: 20px;
}

.portfolio-item img {
	border: 2px solid #303f9f;
	filter: grayscale(100%);
}

.portfolio-item img:hover {
	filter: none;
}

.wrapper {
	width: 1170px;
	margin: 0 auto;
}

i:hover {
	color: #000;
}

/* Responsive Section */

